<h1>Generated passage</h1>


<div class="passage">
	...Generating
</div>

<script charset="utf-8">
	var passages = new PassageList();
	var passageListView;


	$(function(){
		passageListView = new PassageListView({
			collection: passages,
			el: $('div.passage')
		});
		fetchPassage();
	})
</script>