<h3>Guess the Author</h3>


<div class="paper">
	<div class="passage">
	</div>
</div>

<p>
	<form>
		<input type="text" class="guess" >
		<input type="submit" class="guess"  value="guess">
	</form>
</p>

<p>
	<form action="/game" method="get">
		<input class="game" type="submit" value="Play Again!">
	</form>
</p>

<script charset="utf-8">
	var passages = new PassageList();
	var passageListView;


	$(function(){
		passageListView = new PassageListView({
			collection: passages,
			el: $('div.passage')
		});
		$("input:submit.guess").hide();

		fetchPassage();
		submitAnswer();

	})
</script>