

<p>
	<form class="write" action="/write" method="get">
		<a href="/write">Write</a>
	</form>
</p>

<p>
	<form class="game" action="/game" method="get">
		<a href="/game">Game</a>
	</form>
</p>

<script charset="utf-8">

	$(function(){
		loadIndex();
	})
	
</script>
