<h1> New Classics </h1>

<p>
	<form action="/write" method="get">
		<input type="text" name="author" placeholder="author?">
		<input type="text" name="word" placeholder="first word?">
		<input type="submit" value="Raise the dead!">
	</form>
</p>



<p>
	<form action="/game" method="get">
		<input type="text" name="author_1" placeholder="author?">
		<input type="text" name="author_2" placeholder="author?">
		<input type="text" name="word" placeholder="first word?">
		<input type="submit" value="Play!">
	</form>
</p>
