<h1> New Classics </h1>


<form action="/write" method="get">
	<input type="text" name="author" placeholder="author?">
	<input type="text" name="word" placeholder="first word?">
	<input type="submit" value="Raise the dead!">
</form>

