<h1> New Classics </h1>


<form action="/write">
	<select>
		<option value='austen'>Jane Austen</option>
		<option value='melville'>Herman Melville</option>
		<option value='shakespeare'>William Shakespeare</option>
	</select>
	<input type="submit" value="Raise the dead!">
</form>

