<h1> New Classics </h1>

<p>
	<form action="/write" method="get">
		<input type="text" class='author' name="author" placeholder="author?">
		<input class="write" type="submit" value="Raise the dead!">
	</form>
</p>



<p>
	<form action="/game" method="get">
		<input class="game" type="submit" value="Play!">
	</form>
</p>

<div class="passage">
	... generating
</div>


<script charset="utf-8">
	
	var passages = new PassageList();
	var passageListView;


	$(function(){
		passageListView = new PassageListView({
			collection: passages,
			el: $('div.passage')
		});

		submitAuthor();


	})
</script>
