<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> New Classics </title>

	<link rel="stylesheet" href="/stylesheets/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

  <script src='/javascripts/lib/jquery.js'></script>
  <script src='/javascripts/lib/underscore.js'></script>
  <script src='/javascripts/lib/backbone.js'></script>
	
	<script id='passage-template' type='template'>
	  <h2 class='passage'>
	  	<%%= passage %>
	  </h2>
	</script>


	<script src="/javascripts/models/Passage.js"></script>
	<script src="/javascripts/collections/PassageList.js"></script>
	<script src="/javascripts/views/PassageView.js"></script>
	<script src="/javascripts/views/PassageListView.js"></script>
	<script src="/javascripts/scripts.js"></script>
</head>
<body>
		<div class="header">
			<a href="/">
				<img src="images/logo.png"  class="text_logo">
			</a>
		</div>
		<%= yield %>
</body>
</html>