

<p>
	<div class='author_select'>
		<select class="write">
			<option value="austen">Jane Austen</option>
			<option value="dickens">Charles Dickens</option>
			<option value="fitzgerald">F. Scott Fitzgerald</option>
			<option value="hemingway">Ernest Hemingway</option>
			<option value="homer">Homer</option>
			<option value="joyce">James Joyce</option>
			<option value="melville">Herman Melville</option>
			<option value="shakespeare">William Shakespeare</option>
			<option value="twain">Mark Twain</option>
			<option value="wallace">David Foster Wallace</option>
		</select>
	</div>
</p>

<div class="paper">
	<div class="passage">
	</div>
</div>

<div>
	<input class="write" type="submit" value="Write!">
</div>

<script charset="utf-8">
	
	var passages = new PassageList();
	var passageListView;

	$(function(){
		passageListView = new PassageListView({
			collection: passages,
			el: $('div.passage')
		});
		$("div.paper").hide();
		submitAuthor();

	})
</script>
