

<p>
	<form action="/write" method="get">
		<input type="text" class='author' name="author" placeholder="author?">
		<input class="write" type="submit" value="Raise the dead!">
	</form>
</p>

<div class="paper">
	<div class="passage">
	</div>
</div>


<script charset="utf-8">
	
	var passages = new PassageList();
	var passageListView;

	$(function(){
		passageListView = new PassageListView({
			collection: passages,
			el: $('div.passage')
		});
		$("input:submit.write").hide();
		$("div.paper").hide();
		submitAuthor();

	})
</script>
