body {
	background-color: #16294c;
	color: black;
	font-size: 22px;
	font-family: 'Lora', serif;
}
a {
	color: white;
	font-family: 'Lora', serif;
	text-decoration: none;
}
h3 {
	color: white;
	text-align: center;
}
div.paper {
	border-style: solid;
	border-width: 2px;
	display: block;
	padding: 5%;
	width: 700px;
	height: 20%;
	background-color: #ececec;
	margin: 0 auto;
}

div.passage {

}

form {
	display: block;
	text-align: center;
}

h2 {
	font-size: 18px;
	text-align: center;
}

h2.welcome {
	text-align: center;
}

div.header {
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}
.feather {
	display: inline-block;
	margin: 0 auto;
	margin-top: 20px;
	height: 150px;
	width: 300px;
}

.text_logo {
	display: block;
	margin: 0 auto;
}

h1.header {
	display: block;
	text-align: center;
}