body {
	background-color: #3D5F7A;
	color: black;
	font-size: 22px;
	font-family: 'Lato', sans-serif;
}
a {
	color: white;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
}
h3 {
	color: white;
	text-align: center;
}
div.paper {
	display: block;
	padding: 5%;
	width: 700px;
	height: 20%;
	background-color: #CCE9FF;
	margin: 0 auto;
	margin-top: 15px;
}

div.passage {

}

div {
	display: block;
	text-align: center;
}

div.author_select{
	margin: 0 auto;
	display: block;
	text-align: center;
	width: 240px;
	height: 34px;
	background: url(/images/new_arrow.png) no-repeat right #FFF;
}

.author_select select{
	background: transparent;
	width: 240px;
	padding: 5px;
	font-size: 16px;
	line-height: 1.7;
	border: 0;
	border-radius: 0;
	height: 35px;
	-webkit-appearance: none;
}

form {
	display: block;
	text-align: center;
}
p {
	display: block;
	text-align: center;
}

h2 {
	font-size: 18px;
	text-align: center;
}

h2.welcome {
	text-align: center;
}

div.header {
	margin-top: 5%;
	margin-left: 0;
	margin-right: 0;
}
input {
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	background-color: #FFF;
	border: 0;
}
input.guess {
	margin-top: 15px;
	margin-bottom: 15px;
}
.text_logo {
	display: block;
	margin: 0 auto;
}

h1.header {
	display: block;
	text-align: center;
}

div.footer{
	margin-bottom: 20px;
}
p.footer{
	color:#3D5F7A;
}